@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.carous_comp
		margin: 30% 0 0
	.carousel 
		.swiper-slide
			min-height: 550px
			background: none

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.top_line 
		.logo
			position: static
			text-align: center
	.center
		text-align: center
		margin: 20px 0
	.nav
		text-align: center

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.top_line 
		.nav 
			li
				padding: 15px 20px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.top_line 
		.nav 
			li
				padding: 15px 15px
	.swiper-pagination 
	    left: 37%

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

