@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #c3c3c3
	opacity: 1
	font-family: $font-it

*:-moz-placeholder
	color: #c3c3c3
	opacity: 1
	font-family: $font-it

*::-moz-placeholder
	color: #c3c3c3
	opacity: 1
	font-family: $font-it

*:-ms-input-placeholder
	color: #c3c3c3
	opacity: 1
	font-family: $font-it

table
	border-collapse: collapse
	border-spacing: 0

ol, ul
	list-style: none

body
	line-height: 1

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
	display: block

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline


body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	text-transform: uppercase
	background-color: $accent
	padding: 18px 45px
	font-size: 13px
	text-transform: uppercase
	font-weight: 700
	border-radius: 30px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.top_line
	text-align: right
	position: relative
	.logo
		position: absolute
		z-index: 5
		left: 0
		bottom: -115px
	.nav
		position: relative
		li
			display: inline-block
			padding: 30px 0 30px 53px
			a
				color: $navcolor
				font-weight: 600
				font-family: open-sans
				line-height: 25px
				&.active
					color: $accent
					font-weight: 800
		.find
			display: inline-block
			width: 20px
			height: 20px
			background: url("../img/arrowsfind.png") no-repeat
			background-position: -118px -5px
			position: relative
			bottom: -5px
			&:hover
				background-position: -146px -5px
		.search
			position: absolute
			top: 30px
			right: 45px
			display: none
			&.active
				display: block
			input
				border: none
				border-bottom: 1px solid rgba(72, 72, 72, 0.4)
.carousel
	background-image: url("../img/car-bg.jpg")
	.swiper-slide
		min-height: 700px
		background: url("../img/meat_board.png") right no-repeat
		background-size: auto
		position: relative
.swiper-pagination
	position: absolute
	bottom: 50px
	left: 45%
	.swiper-pagination-bullet
		width: 12px
		height: 12px
		background: #bcbcbc
		margin: 0 5px
	.swiper-pagination-bullet
		background: $accent
.swiper-button-prev
	width: 18px
	height: 30px
	background: url("../img/arrowsfind.png") no-repeat
	background-position: 0 0
	left: -5px
	&:hover
		background-position: -23px 0px
.swiper-button-next
	width: 18px
	height: 30px
	background: url("../img/arrowsfind.png") no-repeat
	background-position: -89px 0px
	&:hover
		background-position: -66px 0px	
.carous_comp
	margin: 58% 0 0
	h1
		color: $headercolor
		font-family: "museo-sans"
		font-size: 50px
		line-height: 56px
		margin-bottom: 30px

.site_footer
	background: $footercolor
	color: #a3a3a3
	font-size: 14px
	font-weight: 700
	line-height: 60px
	padding: 10px 0
	position: relative
	top: -40px

@import "media" // Всегда в конце
